.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    gap: 1.5rem;
    /* Space between Header and Body */
}

.layout-body {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}